In [1]:
from scipy.optimize import leastsq
import scipy as sc
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd
import time
np.set_printoptions(suppress=True) # To suppress printing in scientific format

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

#### Read image_xy and radar_xy from the csv file

In [2]:
image_xy = pd.read_csv('./image_xy.csv')
image_xy.tail(3)

            x          y
9   2262.2437  1434.0482
10  2178.6785  1338.0092
11  2010.3127  1185.6810

In [3]:
radar_xy = pd.read_csv('./radar_xy.csv')
radar_xy.tail(3)

           x         y
9   1.567216  3.483018
10  1.122248  2.691081
11  0.624305  1.970487

#### Define modelling funtions for least squares

In [4]:
## Least square method 
# modeling functions
def funcLin(x, a,b):
    return a*x+b
def funcQuad(x, a, b, c):
    return a*x**2+b*x+c
def funcCube(x, a, b, c, d):
    return a*x**3+b*x**2+c*x+d
def funcQuar(x, a, b, c, d, e):
    return a*x**4+b*x**3+c*x**2+d*x + e

#### Optimize constants for the linear function

In [5]:
radar_x = radar_xy['x'].values
radar_y = radar_xy['y'].values

image_x = image_xy['x'].values
image_y = image_xy['y'].values

In [6]:
start = time.perf_counter()
constantsLine_x, _ = sc.optimize.curve_fit (funcLin, radar_x, image_x)
image_x_reconstructed_1=funcLin(radar_x, *constantsLine_x)
constantsLine_y, _ = sc.optimize.curve_fit (funcLin, radar_y, image_y)
image_y_reconstructed_1=funcLin(radar_x, *constantsLine_y)
end = time.perf_counter()
elapsed_time_linear = end-start

#### Optimize constants for the quatratic function

In [7]:
start = time.perf_counter()
constantsLine_x, _ = sc.optimize.curve_fit (funcQuad, radar_x, image_x)
image_x_reconstructed_2=funcQuad(radar_x, *constantsLine_x)
constantsLine_y, _ = sc.optimize.curve_fit (funcQuad, radar_y, image_y)
image_y_reconstructed_2=funcQuad(radar_x, *constantsLine_y)
end = time.perf_counter()
elapsed_time_quad = end-start

#### Optimize constants for the cubic function

In [8]:
start = time.perf_counter()
constantsLine_x, _ = sc.optimize.curve_fit (funcCube, radar_x, image_x)
image_x_reconstructed_3=funcCube(radar_x, *constantsLine_x)
constantsLine_y, _ = sc.optimize.curve_fit (funcCube, radar_y, image_y)
image_y_reconstructed_3=funcCube(radar_x, *constantsLine_y)
end = time.perf_counter()
elapsed_time_cubic = end-start

#### Optimize constants for the quartic function

In [9]:
start = time.perf_counter()
constantsLine_x, _ = sc.optimize.curve_fit (funcQuar, radar_x, image_x)
image_x_reconstructed_4=funcQuar(radar_x, *constantsLine_x)
constantsLine_y, _ = sc.optimize.curve_fit (funcQuar, radar_y, image_y)
image_y_reconstructed_4=funcQuar(radar_x, *constantsLine_y)
end = time.perf_counter()
elapsed_time_quar = end-start

#### Create a dataframe with reconstructed image coordinates

In [10]:
reconstructed_image_xy = pd.DataFrame(columns=['linear_x','linear_y','quadratic_x','quadratic_y',
                                                'cubic_x','cubic_y','quartic_x','quartic_y'])
reconstructed_image_xy['linear_x']    = image_x_reconstructed_1
reconstructed_image_xy['linear_y']    = image_y_reconstructed_1
reconstructed_image_xy['quadratic_x'] = image_x_reconstructed_2
reconstructed_image_xy['quadratic_y'] = image_y_reconstructed_2
reconstructed_image_xy['cubic_x']     = image_x_reconstructed_3
reconstructed_image_xy['cubic_y']     = image_y_reconstructed_3
reconstructed_image_xy['quartic_x']   = image_x_reconstructed_4
reconstructed_image_xy['quartic_y']   = image_y_reconstructed_4

reconstructed_image_xy

,linear_x,linear_y,quadratic_x,quadratic_y,cubic_x,cubic_y,quartic_x,quartic_y
0,1317.194020,1036.435432,1398.521875,809.265256,1376.255630,328.511973,1364.106124,-87.701172
1,612.007344,986.193263,591.995023,530.960723,506.090240,-888.382565,518.541588,-2701.254975
2,178.194409,955.285557,14.205211,325.269853,214.171454,-2003.537305,201.292960,-5536.130832
3,570.442105,983.231880,539.328470,512.390588,466.400396,-982.089857,479.561080,-2925.654918
4,765.861131,997.154826,781.972985,597.599750,669.261173,-564.239542,676.420799,-1947.517026
5,946.971949,1010.058360,995.584905,671.810709,887.224619,-226.542658,885.897938,-1202.959405
6,1337.810973,1037.904320,1419.629368,816.357459,1403.808599,354.477921,1391.593094,-39.449014
7,1551.540931,1053.131858,1630.169481,886.384612,1682.254217,595.527332,1673.294552,388.068882
8,2655.852160,1131.810304,2477.523851,1146.620790,2321.641842,1190.717780,2310.721258,1200.305022
9,2208.298477,1099.923615,2182.671705,1061.666825,2301.457098,1058.857257,2324.414287,1069.264094
10,1923.496051,1079.632404,1960.581391,993.049121,2095.547490,904.005909,2105.356936,868.703332
11,1604.786506,1056.925425,1680.271805,902.838050,1748.343271,647.945580,1741.255455,475.634411

In [11]:
# reconstructed_image_xy.to_csv("./reconstructed_image_xy.csv",index=False)

#### Compute Pearson correlation and MSE

In [12]:
corr_coeff_x = []
corr_coeff_y = []
mse_x = []
mse_y = []
elapsed_time = []

In [13]:
corr_coeff_x.append(np.corrcoef(image_x, image_x_reconstructed_1)[0, 1])
corr_coeff_x.append(np.corrcoef(image_x, image_x_reconstructed_2)[0, 1])
corr_coeff_x.append(np.corrcoef(image_x, image_x_reconstructed_3)[0, 1])
corr_coeff_x.append(np.corrcoef(image_x, image_x_reconstructed_4)[0, 1])

In [14]:
corr_coeff_y.append(np.corrcoef(image_y, image_y_reconstructed_1)[0, 1])
corr_coeff_y.append(np.corrcoef(image_y, image_y_reconstructed_2)[0, 1])
corr_coeff_y.append(np.corrcoef(image_y, image_y_reconstructed_3)[0, 1])
corr_coeff_y.append(np.corrcoef(image_y, image_y_reconstructed_4)[0, 1])

In [15]:
mse_x.append(mean_squared_error(image_x,image_x_reconstructed_1))
mse_x.append(mean_squared_error(image_x,image_x_reconstructed_2))
mse_x.append(mean_squared_error(image_x,image_x_reconstructed_3))
mse_x.append(mean_squared_error(image_x,image_x_reconstructed_4))

In [16]:
mse_y.append(mean_squared_error(image_y,image_y_reconstructed_1))
mse_y.append(mean_squared_error(image_y,image_y_reconstructed_2))
mse_y.append(mean_squared_error(image_y,image_y_reconstructed_3))
mse_y.append(mean_squared_error(image_y,image_y_reconstructed_4))

In [17]:
elapsed_time.append(elapsed_time_linear)
elapsed_time.append(elapsed_time_quad)
elapsed_time.append(elapsed_time_cubic)
elapsed_time.append(elapsed_time_quar)

In [18]:
ls_performance = pd.DataFrame(columns=['methods','corr_coef_x','corr_coef_y','mse_x','mse_y','elapsed_time(s)'])
ls_performance['methods'] = ['Linear','Quadratic','Cubic','Quartic']
ls_performance['corr_coef_x'] = corr_coeff_x
ls_performance['corr_coef_y'] = corr_coeff_y
ls_performance['mse_x'] = mse_x
ls_performance['mse_y'] = mse_y
ls_performance['elapsed_time(s)'] = elapsed_time
ls_performance

,methods,corr_coef_x,corr_coef_y,mse_x,mse_y,elapsed_time(s)
0,Linear,0.960417,0.780581,41247.053824,3.829727e+04,0.003598
1,Quadratic,0.967727,0.707029,33754.903120,1.942071e+05,0.002332
2,Cubic,0.979150,0.600644,21934.222496,2.022326e+06,0.004657
3,Quartic,0.979287,0.522365,21791.142097,7.745182e+06,0.004316